.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .add-button {
    border: 1px solid black;
    margin-right: 10px;
    transition: 0.8s ease;
    width: 400px;
    height: 40px;
    background: #bae8e8;
    border-radius: 10px;
    &:hover{
      background: #ffffff;
    }
  }
}
